<!doctype html>
<html>
    <head>
        <title>Potatoes to Potatoes</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>

    <body>
        <h1 class="welcome">WELCOME TO POTATOES TO POTATOES!</h1>
        <h2 class="help">Instructions</h2>
        <p class="help2">You must have at least 3 players and 1 judge to play this game. One red potato card will be shown with an adjective. Each player will receive four purple potato cards with nouns on their turn. During your turn, pick the card that you think works best with the adjective given earlier. The judge will choose the card he or she thinks is the best and that person will get the red potato card. The person with the most red potato cards at the end wins.</p>
        <a class ="start" href="potato.erb">START!</a>
        <br><a class ="about" href="about.erb">ABOUT</a></br>
    </body>


</html> 