.adj {
    text-align: center;
    color: red
}

.p1 {
    color: #660099;
    text-align: center;
    font-size: 30px;
}

.p2 {
    color: #FF6600;
    text-align: center;
    font-size: 30px;
}

.p3 {
    color: #006600;
    text-align: center;
    font-size: 30px;
}